a {
    text-decoration: none;
}

.some-style{
    height: 300px;
    max-width: 200px;
    overflow: hidden;
    padding: 20px;
}

.some-style img{
    width: 100%;
    height: auto;
}

#transparent{
    background-color: transparent;
    border: none;
}

.centerflex{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#pedidook, .container-cantidad, .container-cantidad2{
    color: #c6ff00;
    font-family: "Montserrat";
    font-weight: 200;
    font-size: 12px;
    padding-top: 10px;
}