#title{
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
}
a {
    transition: 0.3s;
}

a:link {
    color: black;
  }
  
  /* visited link */
  a:visited {
    color: black;
  }
  
  /* mouse over link */
  a:hover {
    color: #ff1744;
  }
  
  /* selected link */
  a:active {
    color: #ff1744;
  }